{% extends 'base.html.twig' %}

{% block title %}Hero{% endblock %}

{% block body %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# check si l'utilisateur est connecté #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    {{ app.user.username }}
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Race
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for race in races %}
                                <a class="dropdown-item" href="{{ path('race', { 'id': race.id }) }}">{{ race.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Legendary Hero
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for legendary_hero in legendary_heros %}
                                <a class="dropdown-item" href="{{ path('legendary_hero', { 'id': legendary_hero.id }) }}">{{ legendary_hero.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hero
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for hero in heros %}
                                <a class="dropdown-item" href="{{ path('hero', { 'id': hero.id }) }}">{{ hero.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_modify_hero', {id:hero.id}) }}">Modify</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('delete_hero', {id:hero.id}) }}">Delete</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br/>

    <div class="container">

        <div class="card border border-5" style="color: white; width: 100%">
            <h3 class="card-title" style="text-align: center">{{ hero.name  }}</h3>
            <img src="{{ hero.gallery }}" class="img-responsive.center-block border border-5" style="align-self: center; border-color: #514024" alt="Responsive image" width="30%">
            <br/>
            <div class="card-body border border-5">
                <h5 style="text-align: center">Description</h5>
                <br/>
                <p class="card-text">{{ hero.description | nl2br }}</p>
            </div>
            <ul class="list-group list-group-flush border border-5">
                <h5 style="text-align: center">Stats</h5>
                <br/>
                <li class="list-group-item">Health : {{ hero.health }}</li>
                <li class="list-group-item">Leadership : {{ hero.leadership }}</li>
                <li class="list-group-item">Melee Attack : {{ hero.MeleeAttack }}</li>
                <li class="list-group-item">Melee Defence : {{ hero.MeleeDefence }}</li>
                <li class="list-group-item">Charge Bonus : {{ hero.ChargeBonus }}</li>
                <li class="list-group-item">Magical Attacks : {{ hero.MagicalAttacks }}</li>
                <li class="list-group-item">Flaming Attacks : {{ hero.FlamingAttacks }}</li>
            </ul>
            <ul class="list-group list-group-flush border border-5">
                <h5 style="text-align: center">Physic Damage Stats</h5>
                <br/>
                <li class="list-group-item">Missile Resistance : {{ hero.MissileResistance }}</li>
                <li class="list-group-item">Weapon Damage : {{ hero.WeaponDamage }}</li>
                <li class="list-group-item">Armour Piercing Damage : {{ hero.ArmourPiercingDamage }}</li>
                <li class="list-group-item">Bonus Vs Large : {{ hero.BonusVsLarge }}</li>
            </ul>
            {% if hero.MissileDamage is not null %}
                <ul class="list-group list-group-flush border border-5">
                    <h5 style="text-align: center">Missile Damage Stats</h5>
                    <br/>
                    <li class="list-group-item">Missile Damage : {{ hero.MissileDamage }}</li>
                    <li class="list-group-item">Armour Piercing Missile Damage : {{ hero.ArmourPiercingMissileDamage }}</li>
                    <li class="list-group-item">Explosive Damage : {{ hero.ExplosiveDamage }}</li>
                    <li class="list-group-item">Explosive Armour Piercing Damage: {{ hero.ExplosiveArmourPiercingDamage }}</li>
                    <li class="list-group-item">Reload Time : {{ hero.ReloadTime }}</li>
                    <li class="list-group-item">Ammunation : {{ hero.Ammunition }}</li>
                    <li class="list-group-item">Range : {{ hero.RangeShot }}</li>
                </ul>
            {% endif %}
            <div class="card-body border border-5">
                <h5 style="text-align: center">Attributs</h5>
                <br/>
                <p>{{ hero.attributs | nl2br }}</p>
            </div>

            <div class="card-body border-5">
                <h5 style="text-align: center">Mounts</h5>
                <br/>
                <p>{{ hero.mounts | nl2br }}</p>
            </div>

            <div class="card-body border border-5">
                <h5 style="text-align: center">Campaign Abilities</h5>
                <br/>
                <p>{{ hero.abilities| nl2br }}</p>
            </div>

            <div class="card-body border border-5">
                <h5 style="text-align: center">Strategy</h5>
                <br/>
                <p>{{ hero.strategy | nl2br }}</p>
            </div>
        </div>
    </div>


    {% if is_granted('ROLE_ADMIN') %} {# check si l'utilisateur est admin #}

        <div class="formulaire">
            <div class="container">
                <h2>Add legendary hero</h2>
                <form action="" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">name</label>
                        <input required type="text" class="form-control" id="name" name="name">
                    </div>
                    <div class="mb-3">
                        <label for="gallery" class="form-label">gallery</label>
                        <input type="text" class="form-control" id="gallery" name="gallery">
                    </div>
                    <div class="mb-3">
                        <label for="description" class="form-label">description</label>
                        <input required type="text" class="form-control" id="description" name="description">
                    </div>
                    <div class="mb-3">
                        <label for="abilities" class="form-label">abilities</label>
                        <input required type="text" class="form-control" id="abilities" name="abilities">
                    </div>
                    <div class="mb-3">
                        <label for="mounts" class="form-label">mounts</label>
                        <input required type="text" class="form-control" id="mounts" name="mounts">
                    </div>
                    <div class="mb-3">
                        <label for="strategy" class="form-label">strategy</label>
                        <input required type="text" class="form-control" id="strategy" name="strategy">
                    </div>
                    <div class="mb-3">
                        <label for="health" class="form-label">health</label>
                        <input required type="text" class="form-control" id="health" name="health">
                    </div>
                    <div class="mb-3">
                        <label for="leadership" class="form-label">leadership</label>
                        <input required type="text" class="form-control" id="leadership" name="leadership">
                    </div>
                    <div class="mb-3">
                        <label for="melee_attack" class="form-label">melee_attack</label>
                        <input required type="text" class="form-control" id="melee_attack" name="melee_attack">
                    </div>
                    <div class="mb-3">
                        <label for="melee_defence" class="form-label">melee_defence</label>
                        <input required type="text" class="form-control" id="melee_defence" name="melee_defence">
                    </div>
                    <div class="mb-3">
                        <label for="charge_bonus" class="form-label">charge_bonus</label>
                        <input required type="text" class="form-control" id="charge_bonus" name="charge_bonus">
                    </div>
                    <div class="mb-3">
                        <label for="missile_resistance" class="form-label">missile_resistance</label>
                        <input required type="text" class="form-control" id="missile_resistance" name="missile_resistance">
                    </div>
                    <div class="mb-3">
                        <label for="weapon_damage" class="form-label">weapon_damage</label>
                        <input required type="text" class="form-control" id="weapon_damage" name="weapon_damage">
                    </div>
                    <div class="mb-3">
                        <label for="armour_piercing_damage" class="form-label">armour_piercing_damage</label>
                        <input required type="text" class="form-control" id="armour_piercing_damage" name="armour_piercing_damage">
                    </div>
                    {% if hero.MissileDamage is not null %}
                        <div class="mb-3">
                            <label for="missile_damage" class="form-label">missile_damage</label>
                            <input required type="text" class="form-control" id="missile_damage" name="missile_damage">
                        </div>
                        <div class="mb-3">
                            <label for="armour_piercing_missile_damage" class="form-label">armour_piercing_missile_damage</label>
                            <input required type="text" class="form-control" id="armour_piercing_missile_damage" name="armour_piercing_missile_damage">
                        </div>
                        <div class="mb-3">
                            <label for="explosive_damage" class="form-label">explosive_damage</label>
                            <input required type="text" class="form-control" id="explosive_damage" name="explosive_damage">
                        </div>
                        <div class="mb-3">
                            <label for="explosive_armour_piercing_damage" class="form-label">explosive_armour_piercing_damage</label>
                            <input required type="text" class="form-control" id="explosive_armour_piercing_damage" name="explosive_armour_piercing_damage">
                        </div>
                        <div class="mb-3">
                            <label for="reload_time" class="form-label">reload_time</label>
                            <input required type="text" class="form-control" id="reload_time" name="reload_time">
                        </div>
                        <div class="mb-3">
                            <label for="ammunition" class="form-label">ammunition</label>
                            <input required type="text" class="form-control" id="ammunition" name="ammunition">
                        </div>
                        <div class="mb-3">
                            <label for="range_shot" class="form-label">range_shot</label>
                            <input required type="text" class="form-control" id="range_shot" name="range_shot">
                        </div>
                    {% else %}
                        <div class="mb-3">
                            <label for="missile_damage" class="form-label">missile_damage</label>
                            <input required type="text" class="form-control" id="missile_damage" name="missile_damage" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="armour_piercing_missile_damage" class="form-label">armour_piercing_missile_damage</label>
                            <input required type="text" class="form-control" id="armour_piercing_missile_damage" name="armour_piercing_missile_damage" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="explosive_damage" class="form-label">explosive_damage</label>
                            <input required type="text" class="form-control" id="explosive_damage" name="explosive_damage" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="explosive_armour_piercing_damage" class="form-label">explosive_armour_piercing_damage</label>
                            <input required type="text" class="form-control" id="explosive_armour_piercing_damage" name="explosive_armour_piercing_damage" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="reload_time" class="form-label">reload_time</label>
                            <input required type="text" class="form-control" id="reload_time" name="reload_time" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="ammunition" class="form-label">ammunition</label>
                            <input required type="text" class="form-control" id="ammunition" name="ammunition" value="NULL">
                        </div>
                        <div class="mb-3">
                            <label for="range_shot" class="form-label">range_shot</label>
                            <input required type="text" class="form-control" id="range_shot" name="range_shot" value="NULL">
                        </div>
                    {% endif %}
                    <div class="mb-3">
                        <label for="magical_attacks" class="form-label">magical_attacks</label>
                        <input required type="text" class="form-control" id="magical_attacks" name="magical_attacks">
                    </div>
                    <div class="mb-3">
                        <label for="flaming_attacks" class="form-label">flaming_attacks</label>
                        <input required type="text" class="form-control" id="flaming_attacks" name="flaming_attacks">
                    </div>
                    <div class="mb-3">
                        <label for="bonus_vs_large" class="form-label">bonus_vs_large</label>
                        <input required type="text" class="form-control" id="bonus_vs_large" name="bonus_vs_large">
                    </div>

                    <!--Bouton pour valider-->
                    <input type="submit" class="btn btn-primary">
                </form>
            </div>
        </div>
    {% endif %}


{% endblock %}
