{% extends 'base.html.twig' %}

{% block title %}Warhammer{% endblock %}

{% block body %}

    <style>
        body{
            color: white;
            background-attachment:fixed;
            background-image: url("https://cdn1.epicgames.com/dda64c2956b54f1ba3cd97f6aaee775f/offer/EGS_TotalWarWARHAMMERIII_CreativeAssembly_S5-1920x1080-b286583ad1b5dfd733097a2af8f883b7.jpg");
            background-size: cover;
            background-position: center;
        }
    </style>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# check si l'utilisateur est connecté #}
                    <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-person" viewBox="0 0 16 16">
                        <path d="M11 8a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                        <path d="M14 14V4.5L9.5 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2zM9.5 3A1.5 1.5 0 0 0 11 4.5h2v9.255S12 12 8 12s-5 1.755-5 1.755V2a1 1 0 0 1 1-1h5.5v2z"/>
                    </svg>
                    {{ app.user.username }}
                {% endif %}
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('index') }}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Race
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for race in races %}
                                <a class="dropdown-item" href="{{ path('race', { 'id': race.id }) }}">{{ race.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Legendary Hero
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for legendary_hero in legendary_heros %}
                                <a class="dropdown-item" href="{{ path('legendary_hero', { 'id': legendary_hero.id }) }}">{{ legendary_hero.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Hero
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            {% for hero in heros %}
                                <a class="dropdown-item" href="{{ path('hero', { 'id': hero.id }) }}">{{ hero.name }}</a>
                            {% endfor %}
                        </div>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('logout') }}">Logout</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <br>

    <h1 style="text-align: center">Wiki Total War Warhammer</h1>

    <br>

    {% if is_granted('IS_AUTHENTICATED_FULLY') %} {# check si l'utilisateur est connecté #}
        <h3 style="text-align: center; align-self: center">Welcome {{ app.user.username }} !!!</h3>
    {% endif %}


{% endblock %}
